* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



div {
    background-color: #fff;
    padding: 40px;
}

.text-green {
    color: green;
}

.bg-yellow {
    background-color: yellow;
}

.pd-3 {
    padding: 20px;
}

.fw-bold {
    font-weight: bold;
}

.m-0 {
    margin:30px;
}

.text-red {
    color: red;
}

.fs-18 {
    font-size: 18px;
}

h1 {
    margin-bottom: 20px;
    font-size: 48px;
}

p {
    padding: 15px 20px;
}